* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   background: #46c6f9;

}

header {
    background: #103162;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

main h2 {
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



article {
    background: white;
    padding: 40px;
    min-width: 300px;
    width: 200px;
    margin: 20px auto;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);    
}


article:hover {
    transform: scale(1.05);
}

article h3 {
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.abrir {
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 50px;
    background: #46c6f9;
    border: none;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.abrir:hover {
    background: #028ba3;
}


